{% extends "layout.html" %}
{% block content %}
<!-- Profile Details -->
<div class="profile">
    <h1>Profile</h1>
    <p>View and update your profile information here.</p>

    <!-- Profile Form -->
    <div class="profile-form">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <!-- Username -->
            <div class="form-group">
                <label>{{ form.current_password.label }}</label>
                {% if form.current_password.errors %}
                    {{ form.current_password() }}
                    <div class="invalid-feedback">
                        {% for error in form.current_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.current_password() }}
                    {% endif %}
            </div>

            <div class="form-group">
                <label>{{ form.password.label }}</label>
                {% if form.password.errors %}
                    {{ form.password() }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.password() }}
                    {% endif %}
            </div>

            <div class="form-group">
                <label>{{ form.confirm_password.label }}</label>
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password() }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.confirm_password() }}
                    {% endif %}
            </div>

            <button type="submit">{{ form.submit.label }}</button>
        </form>
    </div>
</div>
</script>
{% endblock %}