{% extends "user/layout.html" %}
{% block content %}
<!-- loan_status.html -->
<h2>Your Loan Applications</h2>
<ul>
    {% for loan in loans %}
        {% if loan.rejection_reason %}
        <li>
            Loan Amount: KSH. {{ loan.loan_amount }} | Status: {{ loan.status }} | Reason: {{ loan.rejection_reason }} |Purpose: {{ loan.purpose }}
        </li>
        {% else %}
        <li>
            Loan Amount: KSH. {{ loan.loan_amount }} | Status: {{ loan.status }} | Purpose: {{ loan.purpose }}
        </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}