{% extends "user/layout.html" %}
{% block content %}
<div class="notifications">
    <h1>Notifications</h1>
    <p>View your notifications here.</p>
    <!-- Notifications List -->
    <div class="notification-list">
        <div class="notification-item">
            <i class="fas fa-credit-card"></i>
            {% if current_user.disburse_notifications %}
            <div class="notification-content">
                {% for notification in current_user.disburse_notifications %}
                    <h3>{{ notification.notification_type }}</h3>
                    <p>{{ notification.message }}</p>
                    <span class="notification-date">{{ notification.created_at.strftime('%Y-%m-%d') }}</span>
                {% endfor %}               
            </div>
            {% endif %}
        </div>
        <!-- More notifications can be added here -->
    </div>
</div>
{% endblock %}