{% extends "user/layout.html" %}
{% block content %}
<!-- Profile Details -->
<div class="profile">
    <h1>Profile</h1>
    <p>View and update your profile information here.</p>

    <a href="{{ url_for('update_password') }}" class="profile-link">
        <div class="profile">
            <h1>Security</h1>
            <p>Manage Password</p>
        </div>
    </a>

    <a href="{{ url_for('update_account') }}" class="profile-link">
        <div class="profile">
            <h1>Account</h1>
            <p>Manage Account</p>
        </div>
    </a>

</div>


</div>
{% endblock content %}
{% block endBody %}
<script>
    function previewImage() {
        const file = document.getElementById('profile-picture').files[0];
        const preview = document.getElementById('profile-picture-preview');
        const reader = new FileReader();

        reader.onload = function (e) {
            preview.src = e.target.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}