{% extends "user/layout.html" %}
{% block content %}
    <h2>Repay Loan</h2>
    
    {% if loan %}
    <div class="loan-application">
        <h1>Repay Loan</h1>
        <form action="{{ url_for('repay_loan') }}" method="POST" class="loan-form">
            <input type="hidden" name="loan_id" value="{{ loan.id }}">
            
            <div class="form-group">
                <label for="payment_amount">Payment Amount:</label>
                <textarea id="payment_amount" name="payment_amount" rows="1" placeholder="Enter Amount..."
            required></textarea>
            </div>
            
            <button type="submit">Make Payment</button>
        </form>
        
    
        <p>Next Due Date: {{ loan.next_due_date.strftime('%Y-%m-%d') }}</p>
    {% else %}
        <p>You currently have no disbursed loans available for repayment.</p>
    {% endif %}
    </div>
       
    
{% endblock %}
