{% extends "user/layout.html" %}
{% block content %}
<!-- Statements Details -->
<div class="statements">
    <h1>Statements</h1>
    <p>View your statements here.</p>

    <!-- Filter Form -->
    <div class="statements-filter">
        <form action="{{ url_for('filter_statements') }}" method="post">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start-date" required>
            
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end-date" required>

            <button type="submit">Filter</button>
        </form>
    </div>

    <!-- Download PDF -->
    <div class="download-pdf">
        <a href="{{ url_for('download_statement') }}" class="btn btn-primary"><button>Download Statement PDF</button></a>
    </div>

    <!-- Statements Table -->
    <div class="statements-table">
        <h2>Statement Details</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Reference No.</th>
                </tr>
            </thead>
            <tbody>
                <!-- Use transactions.items for pagination -->
                {% for transaction in transactions.items %}
                <tr>
                    <td>{{ transaction.transaction_date.strftime('%b %d, %Y') }}</td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>KSH {{ transaction.amount }}</td>
                    <td>KSH {{ '{:.2f}'.format(transaction.balance) }}</td>
                    <td>{{ transaction.reference_no }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Pagination Links -->
    </div>
    
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if transactions.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('filter_statements', page=transactions.prev_num) }}">Previous</a>
            </li>
        {% endif %}
        
        {% for page_num in transactions.iter_pages() %}
            <li class="page-item {% if page_num == transactions.page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('filter_statements', page=page_num) }}">{{ page_num }}</a>
            </li>
        {% endfor %}
        
        {% if transactions.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('filter_statements', page=transactions.next_num) }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}
