{% extends "user/layout.html" %}
{% block content %}
<!-- Support -->
<div class="support">
    <h1>Support</h1>
    <p>If you need assistance, please use the contact form below to get in touch with our support team. We'll get back to you as soon as possible.</p>

    <!-- Contact Form -->
    <div class="contact-form">
        <h2>Contact Us</h2>
        <form method="post" action="{{ url_for('contact') }}">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ current_user.personal_data.other_names }} {{ current_user.personal_data.surname }}" readonly>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ current_user.email }}" readonly>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" placeholder="Enter your message here..." required></textarea>
            
            <button type="submit">Send Message</button>
        </form>
    </div>

    <!-- FAQ Section -->
</div>
{% endblock content %}