{% extends "admin/layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/members.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/Adminstyles.css') }}">
{% endblock %}

{% block main_cont %}
<h2 class="greeting">Manage Members</h2>

<div class="action-buttons">
    <a href="{{ url_for('add_personal_data')}}" class="no-underline"><button class="action-button"></i> Add Member</button></a>
    <input type="text" id="search" placeholder="Search Members..." oninput="filterMembers()">
</div>

<table class="members-table" id="membersTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Email</th>
            <!-- <th>Account Status</th> -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="membersBody">

    </tbody>
</table>
{% endblock %}


{% block script %}

<script type="text/javascript">
    const memberData = {{ members | tojson }};
    const editUrl = "{{ url_for('add_personal_data') }}";
    
    // Populate the table with real member data
    updateMembersTable(memberData);
</script>
<script src="{{ url_for('static', filename='/js/members.js') }}"></script>
<script src="{{ url_for('static', filename='/js/script.js') }}"></script>
{% endblock %}

</body>

</html>