{% extends "admin/layout.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/Adminstyles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/staff.css') }}">
{% endblock %}

{% block main_cont %}
<h2 class="greeting">Manage Staff</h2>

<div class="action-buttons">
    <a href="{{ url_for('add_personal_data')}}" class="no-underline"><button class="action-button"><i class="fas fa-user-plus"></i> Add Staff</button></a>
    <input type="text" id="search" placeholder="Search Staff..." oninput="filterStaff()">
</div>


<table class="staff-table" id="staffTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Email</th>
            <!-- <th>Position</th>
            <th>Status</th> -->
            <!-- <th>Actions</th> -->
        </tr>
    </thead>
    <tbody id="staffBody">
        <!-- Staff rows will be dynamically populated here -->
    </tbody>
</table>

{% endblock %}

{% block script %}
<script>
    const staffMembers = {{ members | tojson | safe }};
</script>

<script src="{{ url_for('static', filename='/js/staff.js') }}"></script>
{% endblock %}